{% extends 'layout.html' %}

{% block title %}
Home
{% endblock %}

{% block body %}

  <section class="banner-background banner-full" style="background-image: linear-gradient(to right, #396afc , #2948ff);">
      <div class="wrapper-center wrapper-small">
        <div class="container-small full-height animated zoomInRight fast">
          <div class="middle white centered">
            <h1 class="">Een nieuwe manier van automaten beheren.</h1>
            <!-- <i class="material-icons expand-white expand1">expand_more</i> -->
            <a class="button button-primary" href="/login">Login</a>
          </div>
        </div>
      </div>
    </section>
{% endblock %}
